@tailwind base;
@tailwind components;
@tailwind utilities;



/*  color code

1 -- #FCA311  orange
2 -- #E5E5E5  grey
3 -- #14213D  dark blue
4 -- #000000 black
5 -- #FFFFFF white

*/


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}
body{
  /* background: linear-gradient(to right, #243B55, #141E30);  */
  background: #14213D;
  height: 100vh;
  width: 100%;
}

.title{
  background: linear-gradient(to right, #FCA311, #fcf6ba,#FCA311);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .c-btn{
  background: linear-gradient(to right, #FCA311, #fcf6ba,#FCA311);
  color: black;
} */


@keyframes pulse {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-10px);
  }
  100%{
      transform: translateY(0);
  }
}


@keyframes slideDown {
  0%{
      opacity: 0;
      transform: translateY(-300px);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}